@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Global Color */
.blue {
  color: #007bc1;
}
.darkblue {
  color: #004a75;
}
.orange {
  color: #ff8000;
}
.darkorange {
  color: #cc6600;
}
.smokegray {
  color: #e5e5e5;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}

/* Flex */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.vertical-center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Grid */
.grid {
  display: -ms-grid;
  display: grid;
}

.grid-cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}

/* Heading */
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

/* Text Align */

.text-center {
  text-align: center;
}

/* Font Weight */
.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Margin, Padding, Spacing */
.p-4 {
  padding: 1rem;
}

.m-4 {
  margin: 1rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

/* Cookie */
.cookie {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  background-color: #e5e5e5;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.cookie .container {
  display: flex;
  flex-direction: row;
  justify-content: between;
  align-items: center;
  max-width: 720px;
}

.cookie-cta {
  padding: 0.5rem;
  background: #007bc1;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  width: 120px;
}

.shadow-lg {
  --tw-shadow-color: 0, 0, 0;
  --tw-shadow: 0 10px 15px -3px rgba(var(--tw-shadow-color), 0.1),
    0 4px 6px -2px rgba(var(--tw-shadow-color), 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pointer {
  cursor: pointer;
}

/* Hero */
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 123, 193, 0.5),
      rgba(0, 74, 117, 0.8)
    ),
    url("./assets/work-desk__dustin-lee.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.hero .logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.hero .hero-cta {
  padding: 0.75rem;
  background: none;
  border: solid 2px white;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
}

.hero .hero-cta:hover {
  background: ​#fff;
  color: #007bc1;
  background: #fff;
}

/* Highlight */
.highlight {
  background-color: #e5e5e5;
  padding: 4rem;
}

.highlight .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.highlight .card {
  border: 1.2px solid #b8b4b4;
  padding: 1rem;
}

.highlight .card .card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.highlight .card .card-body {
  display: flex;
  margin-top: 0.5rem;
}

.highlight svg {
  color: #adacac;
}

/* Newsletter */
.newsletter {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 640px;
  padding: 1rem;
  background-color: #007bc1;
  opacity: 0.9;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}

.newsletter .content {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.newsletter .action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newsletter .action input {
  padding: 0.5rem 1rem;
  border: none;
  width: 80%;
}

.newsletter .action button {
  background: #ff8000;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0 0 0 1rem;
  border: none;
  width: 20%;
}

/* Footer */
footer {
  background-color: #004a75;
  color: #e5e5e5;
  text-align: center;
  padding: 2rem;
}

/* Mobile Responsive */

@media (min-width: 960px) {
  .highlight .container {
    max-width: 50%;
  }
}

@media (min-width: 480px) and (max-width: 960px) {
  .grid-cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .cookie .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .cookie .container button {
    margin: 0.75rem 0;
  }

  .vertical-center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-cols {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .newsletter .action {
    flex-direction: column;
    align-items: stretch;
    margin: 1rem 0;
  }

  .newsletter .action input {
    width: auto;
  }

  .newsletter .action button {
    width: 100%;
    margin: 0.5rem 0;
  }
}
